
.tabContent {
    font-family: 'Averia Serif Libre', cursive;
    color: #eee;
    padding: 2rem;
    max-width: 84rem;
    height: 100%;
    overflow: auto;
}

.nav-link-dark {
    color: #222;
    font-weight: bolder;
}