
.tabContent {
    font-family: 'Averia Serif Libre', cursive;
    color: #eee;
    padding: 2rem;
    max-width: 84rem;
    height: 100%;
} .tabContent input {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 28px;
    width: 5ch;
    vertical-align: middle;
}

.nav-link-dark {
    color: #222;
    font-weight: bolder;
}