.gameLetter {
    cursor: pointer;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
    vertical-align: center;
    margin: 0px;
    padding: 0px 14px;
    color: #eee;
    display: inline-block;
    background: rgba(225, 225, 225, 0.25);
    user-select: none;
} .gameLetter:hover {
    outline: rgba(175, 243, 15, 0.7) dashed 0.25rem;
    color: rgba(50, 32, 218, 0.753);
}

.phonic-letter-container {
    padding: 2rem 0 0 0;
    margin: 0;
    display: inline-block;
    background-color: #383838;
} .phonic-letter-container:hover {
    background-color: rgb(175, 175, 175);
} .phonic-letter-container .click-me {
    min-width: 10rem;
}