.letterTablink {
    vertical-align: center;
    background-color: #555;
    color: white;
    font-weight: bolder;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 24px 26px;
    font-size: 17px;
    width: 25%;
} .letterTablink:hover {
    background-color: #444;
}

.letterTabcontent {
    font-size: 18px;
    font-family: monospace;
    float: left;
    display: none;
} .letterTabcontent span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} .letterTabcontent button {
    font-size: 72px;
    background: none;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    user-select: none;
} .letterTabcontent button:hover:enabled {
    color: #eee;
}

.letter {
    cursor: pointer;
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    margin: 5px;
    padding: 25px;
    color: #eee;
    background-color: #222;
    display: inline-block;
} .letter:hover {
    background-color: royalblue;
}

span.letter {
    cursor: crosshair;
    background: none;
    font-size: 196px;
    padding: 10px
} span.letter:hover {
    background: none;
}
