.letter {
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    margin: 5px;
    padding: 25px;
    color: #eee;
    background-color: #222;
    display: inline-block;
} .letter:hover {
    background-color: royalblue;
}

span.letter {
    cursor: crosshair;
    background: none;
    font-size: 196px;
    padding: 10px;
    min-width: 300px;
} span.letter:hover {
    background: none;
}

.gameLetter {
    cursor: pointer;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
    vertical-align: center;
    margin: 0px;
    padding: 0px 14px;
    color: #eee;
    display: inline-block;
    background: rgba(225, 225, 225, 0.25);
    user-select: none;
} .gameLetter:hover {
    background-color: #222;
}