.oInput {
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    width: 5ch;
}

p.numbers {
    margin: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} p.numbers button {
    font-size: 32px;
}

div.number {
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    margin: 3px;
    padding: 15px;
    color: #eee;
    background-color: #222;
    display: inline-block;
} 
div.number:hover {
    background-color: royalblue;
}