.numberTabLink {
    vertical-align: center;
    background-color: #555;
    color: white;
    font-weight: bolder;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 24px 26px;
    font-size: 17px;
} .numberTabLink:hover {
    background-color: #444;
}

.numberTabContent {
    margin: 20px;
    font-size: 18px;
    font-family: 'Ubuntu Mono', monospace;
    display: inline-block;
    clear: both;
} .numberTabContent span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} .numberTabContent button {
    vertical-align: middle;
    border: none;
    font-size: 72px;
    background: none;
    font-weight: bolder;
    cursor: pointer;
    user-select: none;
} .numberTabContent button:hover:enabled {
    color: #eee;
}

.addButton {
    font-size: 32px;
    width: 50px;
    height: 50px;
    background-color: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 15px;
    border: 2px solid #222;
}
.subButton {
    font-size: 32px;
    font-weight: bolder;
    width: 50px;
    height: 50px;
    background-color: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 0px;
    border: 2px solid #222;
}

.number {
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    margin: 5px;
    padding: 25px;
    color: #eee;
    background-color: #222;
    display: inline-block;
} .number:hover {
    background-color: royalblue;
} div.number {
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    margin: 3px;
    padding: 15px;
    color: #eee;
    background-color: #222;
    display: inline-block;
} div.number:hover {
    background-color: royalblue;
} span.number {
    cursor: crosshair;
    background: none;
    font-size: 196px;
    padding: 10px;
    min-width: 500px;
} span.number:hover {
    background: none;
}
