.number {
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    margin: 5px;
    padding: 25px;
    color: #eee;
    background-color: #222;
    display: inline-block;
    user-select: none;
} .number:hover {
    background-color: royalblue;
} div.number {
    font-size: 7rem;
    font-weight: normal;
    text-align: center;
    margin: 3px;
    padding: 15px;
    color: #eee;
    background-color: #222;
    display: inline-block;
} div.number:hover {
    background-color: royalblue;
} span.number {
    cursor: crosshair;
    background: none;
    font-size: 196px;
    padding: 10px;
    min-width: 500px;
} span.number:hover {
    background: none;
}
