* {
    box-sizing: border-box
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial;
    background: linear-gradient(225deg, #222, #323232);
}

a:link, a:visited {
    color: #8ebf42;
    font-weight: bold;
}

a:hover {
    color: #aedf29;
    font-weight: bold;
}

.tab {
    float: left;
    border: 0px none;
    width: 30%;
} .tab button {
    float: left;
    display: block;
    background-color: #555;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 100%;
} .tab button:hover {
    background-color: #777;
    color: black;
}

.tabcontent {
    float: left;
    color: white;
    display: none;
    padding-left: 20px;
    height: 100%;
    width: 70%;
}

#Letters, 
#Numbers {
    background-color: turquoise;
    background: linear-gradient(45deg, #08694c 65%, #044b35);
}

#Contact, 
#About {
    background-color: lightsteelblue;
    background: linear-gradient(225deg, #083869, #042547);
}